html
  title Dynamic Card Catalogue
  link(rel="stylesheet", href="style.css")
  <meta name="viewport" content="width=device-width, initial-scale=1">

  body

    mixin card(title, author, thema, category, contributor)
      .card-wrapper
        .card
          .classification= thema
          .info
            h2= title
            .author= author
            span= category
            .bottom
              .links
                img.icon(src="link.svg", aria-hidden="true")
                | 
                a(href='http://www.worldcat.org/search?qt=worldcat_org_all&q=' + encodeURIComponent(title)) Library
                |  - 
                a(href='https://www.goodreads.com/search?q=' + encodeURIComponent(title)) Goodreads
                |  - 
                a(href='http://www.amazon.ca/s?url=search-alias%3Daps&field-keywords=' + encodeURIComponent(title)) Amazon
                span.incidental  (<img src="maple-leaf.svg" alt="Canada" class="icon">)
              .contributor Contributed by 
                = contributor

    include sidebar.pug

    .catalogue
      each val in books
        +card(val.title, val.author, val.thema, val.category, val.contributor)

  script(src='script.js')
