.nav
  h1 Card Catalogue

  .filter
    label(for="contributors") Contributed by: 
    select(id="contributors")
      option Anyone
      each val in contributors
        if val == contributorFilter
          option(selected)= val
        else
          option= val

  .filter
    label(for="sort") Sort by: 
    select(id="sort")
      each val, index in {titleAZ: 'Title A-Z', titleZA: 'Title Z-A', authorAZ: 'Author A-Z', authorZA: 'Author Z-A'}
        if index == sortFilter
          option(selected, value=index)= val
        else
          option(value=index)= val
